body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#logo,h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}